statemachine/stock_trader.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Parallel",
  "States": {
    "Parallel": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Envia notificacion",
          "States": {
            "Envia notificacion": {
              "Type": "Task",
              "Resource": "arn:aws:states:::sns:publish",
              "Parameters": {
                "TopicArn": "arn:aws:sns:us-east-1:103504445265:NotifyMeBilling",
                "Message": {
                  "mensaje": "Acaban de realizar una compra"
                }
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Map",
          "States": {
            "Map": {
              "Type": "Map",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "DynamoDB GetItem",
                "States": {
                  "DynamoDB GetItem": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:getItem",
                    "Parameters": {
                      "TableName": "mock-producto-2MOR91TQ9Y8J",
                      "AttributesToGet": [
                        "cantidadStock",
                        "id"
                      ],
                      "Key": {
                        "id": {
                          "S.$": "$.id"
                        }
                      }
                    },
                    "ResultPath": "$.stock",
                    "Next": "Choice",
                    "ResultSelector": {
                      "cantidadStock.$": "$.Item.cantidadStock.N"
                    }
                  },
                  "Choice": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Variable": "$.stock.cantidadStock",
                        "StringGreaterThanEqualsPath": "$.cantidadCompra",
                        "Next": "Rebaja del inventario"
                      }
                    ],
                    "Default": "SNS Publish"
                  },
                  "Rebaja del inventario": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Parameters": {
                      "FunctionName": "arn:aws:lambda:us-east-1:103504445265:function:mock-RebajarDelStock-rklWgBOJcRB9:$LATEST",
                      "Payload": {
                        "cantidadStock.$": "$.stock.cantidadStock",
                        "cantidadCompra.$": "$.cantidadCompra",
                        "id.$": "$.id"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 2,
                        "MaxAttempts": 6,
                        "BackoffRate": 2
                      }
                    ],
                    "ResultPath": null,
                    "Next": "Enviar aprobacion"
                  },
                  "Enviar aprobacion": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::sns:publish",
                    "Parameters": {
                      "TopicArn": "arn:aws:sns:us-east-1:103504445265:NotifyMeBilling",
                      "Message": {
                        "success": "https://sako8j8lp7.execute-api.us-east-1.amazonaws.com/Prod/aprobacion"
                      }
                    },
                    "ResultPath": null,
                    "Next": "Step Functions Run Activity"
                  },
                  "Step Functions Run Activity": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:us-east-1:103504445265:activity:aprobacion",
                    "TimeoutSeconds": 300,
                    "Next": "Aprobo?",
                    "ResultPath": "$.output"
                  },
                  "Aprobo?": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Variable": "$.output",
                        "NumericEquals": 201,
                        "Next": "DynamoDB UpdateItem"
                      }
                    ],
                    "Default": "Success"
                  },
                  "DynamoDB UpdateItem": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:updateItem",
                    "Parameters": {
                      "TableName": "mock-producto-2MOR91TQ9Y8J",
                      "Key": {
                        "id": {
                          "S.$": "$.id"
                        }
                      },
                      "UpdateExpression": "SET cantidadStock = :myValueRef",
                      "ExpressionAttributeValues": {
                        ":myValueRef": {
                          "N.$": "$.stock.cantidadStock"
                        }
                      }
                    },
                    "Next": "Fail (1)"
                  },
                  "Fail (1)": {
                    "Type": "Fail"
                  },
                  "Success": {
                    "Type": "Succeed"
                  },
                  "SNS Publish": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::sns:publish",
                    "Parameters": {
                      "Message": {
                        "message": "there is not enogh inventory"
                      },
                      "TopicArn": "arn:aws:sns:us-east-1:103504445265:NotifyMeBilling"
                    },
                    "Next": "Fail"
                  },
                  "Fail": {
                    "Type": "Fail"
                  }
                }
              },
              "ItemsPath": "$.elementos",
              "ResultPath": "$.Item",
              "End": true
            }
          }
        }
      ],
      "End": true,
      "ResultPath": "$.Item"
    }
  }
}