statemachine/stock_trader.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Parallel",
  "States": {
    "Parallel": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Notifica nueva compra",
          "States": {
            "Notifica nueva compra": {
              "Type": "Task",
              "Parameters": {
                "Destination": {
                  "ToAddresses": [
                    "${correoOperaciones}"
                  ]
                },
                "Message": {
                  "Body": {
                    "Text": {
                      "Data.$": "States.Format('El cliente {} {} compró la cantidad de {} producto con el metodo de pago {}. Puedes contactarlo al celular {} o al correo {}.',$.persona.primerNombre,$.persona.primerApellido,States.ArrayLength($.elementos),$.metodoPago, $.persona.telefono,$.persona.correo)"
                    }
                  },
                  "Subject": {
                    "Data.$": "States.Format('Nueva compra {}',  $.idOrden)"
                  }
                },
                "Source": "${correoOperaciones}"
              },
              "Resource": "arn:aws:states:::aws-sdk:ses:sendEmail",
              "End": true
            }
          }
        },
        {
          "StartAt": "Map",
          "States": {
            "Map": {
              "Type": "Map",
              "ItemProcessor": {
                "ProcessorConfig": {
                  "Mode": "INLINE"
                },
                "StartAt": "Obtener inventario",
                "States": {
                  "Obtener inventario": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:getItem",
                    "Parameters": {
                      "TableName": "${tableProducto}",
                      "AttributesToGet": [
                        "cantidadStock",
                        "id"
                      ],
                      "Key": {
                        "id": {
                          "S.$": "$.id"
                        }
                      }
                    },
                    "ResultPath": "$.stock",
                    "Next": "Existe stock",
                    "ResultSelector": {
                      "cantidadStock.$": "$.Item.cantidadStock.N"
                    }
                  },
                  "Existe stock": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Variable": "$.stock.cantidadStock",
                        "StringGreaterThanEqualsPath": "$.strcantidadCompra",
                        "Next": "Rebaja del inventario"
                      }
                    ],
                    "Default": "Notifica no hay inventario"
                  },
                  "Rebaja del inventario": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::lambda:invoke",
                    "Parameters": {
                      "FunctionName": "${RebajarInventario}",
                      "Payload": {
                        "cantidadStock.$": "$.stock.cantidadStock",
                        "cantidadCompra.$": "$.strcantidadCompra",
                        "id.$": "$.id"
                      }
                    },
                    "Retry": [
                      {
                        "ErrorEquals": [
                          "Lambda.ServiceException",
                          "Lambda.AWSLambdaException",
                          "Lambda.SdkClientException",
                          "Lambda.TooManyRequestsException"
                        ],
                        "IntervalSeconds": 2,
                        "MaxAttempts": 6,
                        "BackoffRate": 2
                      }
                    ],
                    "ResultPath": null,
                    "Next": "Enviar aprobacion"
                  },
                  "Enviar aprobacion": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::sns:publish",
                    "Parameters": {
                      "TopicArn": "${EnviaCorreoArn}",
                      "Message": {
                        "success": "${ConfirmacionCompra}",
                        "fallo": "${NoConfirmacionCompra}"
                      }
                    },
                    "ResultPath": null,
                    "Next": "Esperar Aprobacion manual"
                  },
                  "Esperar Aprobacion manual": {
                    "Type": "Task",
                    "Resource": "${AprobacionCompra}",
                    "TimeoutSeconds": 300,
                    "Next": "Aprobo?",
                    "ResultPath": "$.output"
                  },
                  "Aprobo?": {
                    "Type": "Choice",
                    "Choices": [
                      {
                        "Variable": "$.output",
                        "NumericEquals": 201,
                        "Next": "Devolver inventario"
                      }
                    ],
                    "Default": "Actualizar tabla transacciones"
                  }, 
                  "Actualizar tabla transacciones": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:putItem",
                    "Parameters": {
                      "TableName": "${tabletransacciones}",
                      "Item": {
                        "id": {
                          "S.$": "$.id"
                        },
                        "idOrden": {
                          "S.$": "$$.Execution.Input.idOrden"
                        },
                        "nombreProducto": {
                          "S.$": "$.nombre"
                        },
                        "precio": {
                          "N.$": "States.JsonToString($.precio)"
                        },
                        "cantidadComprada": {
                          "S.$": "States.JsonToString($.cantidadCompra)"
                        },
                        "primerNombre": {
                          "S.$": "$$.Execution.Input.persona.primerNombre"
                        },
                        "primerApellido": {
                          "S.$": "$$.Execution.Input.persona.primerApellido"
                        },
                        "correo": {
                          "S.$": "$$.Execution.Input.persona.correo"
                        },
                        "direccion": {
                          "S.$": "$$.Execution.Input.persona.direccion"
                        },
                        "telefono": {
                          "S.$": "$$.Execution.Input.persona.telefono"
                        },
                        "metodoPago": {
                          "S.$": "$$.Execution.Input.persona.metodoPago"
                        }
                      }
                    }, 
                    "Next": "Success"
                  },
                  "Devolver inventario": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::dynamodb:updateItem",
                    "Parameters": {
                      "TableName": "${tableProducto}",
                      "Key": {
                        "id": {
                          "S.$": "$.id"
                        }
                      },
                      "UpdateExpression": "SET cantidadStock = :myValueRef",
                      "ExpressionAttributeValues": {
                        ":myValueRef": {
                          "N.$": "$.stock.cantidadStock"
                        }
                      }
                    },
                    "Next": "Se cancela este elemento"
                  },
                  "Se cancela este elemento": {
                    "Type": "Fail"
                  },
                  "Success": {
                    "Type": "Succeed"
                  },
                  "Notifica no hay inventario": {
                    "Type": "Task",
                    "Resource": "arn:aws:states:::aws-sdk:ses:sendEmail",
                    "Parameters": {
                      "Destination": {
                        "ToAddresses": [
                          "${correoOperaciones}"
                        ]
                      },
                      "Message": {
                        "Body": {
                          "Text": {
                            "Data.$": "States.Format('No hay inventario para satisfacer la compra. Producto {} cantidad pedida : {} Cantidad en inventario {}. Puedes contactarlo al celular {} o al correo {}.',$.nombre,$.cantidadCompra,$.stock.cantidadStock, $$.Execution.Input.persona.telefono,$$.Execution.Input.persona.correo)"
                          }
                        },
                        "Subject": {
                          "Data.$": "States.Format('Sin inventario {}',  $$.Execution.Input.idOrden)"
                        }
                      },
                      "Source": "${correoOperaciones}"
                    },
                    "Next": "Fail"
                  },
                  "Fail": {
                    "Type": "Fail"
                  }
                }
              },
              "ItemsPath": "$.elementos",
              "ResultPath": "$.Item",
              "End": true
            }
          }
        }
      ],
      "End": true,
      "ResultPath": "$.Item"
    }
  }
}